
VERSION "{{instance.version}}"

{% for attr in instance | endpoints %}
  {%- if attr.c_getter or attr.c_setter %}
    {%- if attr.c_getter %}
BO_ {{attr.ep_id}} {{attr.c_getter}}: {{attr.dtype.size}} Vector__XXX
  SG_ {{attr.c_getter}} : 0|{{attr.dtype.size}}@1+ (1,0) "<{{attr.unit.units}}>" Vector__XXX
    {%- endif %}
    {%- if attr.c_setter %}
BO_ {{attr.ep_id}} {{attr.c_setter}}: {{attr.dtype.size}} Vector__XXX
  SG_ {{attr.c_setter}} : 0|{{attr.dtype.size}}@1+ (1,0) "<{{attr.unit.units}}>" Vector__XXX
    {%- endif %}
  {%- elif attr.c_caller %}
BO_ {{attr.ep_id}} {{attr.c_caller}}: {{attr.arg_total_size}} Vector__XXX
    {%- set count = [0] %}
    {%- for arg in attr.arguments %}
  SG_ {{arg.name}} : {{count[0]}}|{{arg.dtype.size}}@1+ (1,0) "<{{arg.unit.units}}>" Vector__XXX
      {%- if count.append(count.pop() + arg.dtype.size) %}{% endif %} {# increment count by 1 #}
    {%- endfor %}
  {%- endif %}
{% endfor %}