
#pragma once

#include <cstdint>
#include <tinymovr.h>

{%- if instance.remote_attributes %}
    {%- for attr in instance.remote_attributes.values() %}
        {%- if attr.remote_attributes %}
#include <{{attr.name}}.hpp>
        {%- endif %}
    {%- endfor %}
{%- endif %}

class {{ instance.name }}
{
    public:

    {%- if instance.remote_attributes %}
        {%- for attr in instance.remote_attributes.values() %}
            {%- if attr.remote_attributes %}
        {{attr.name}} {{attr.name}};
            {%- else %}
        {{type_map[attr.dtype]}} get_{{attr.name}}(void);
        void set_{{attr.name}}({{type_map[attr.dtype]}} value);
            {%- endif %}
        {%- endfor %}
    {%- endif %}

}