
#pragma once

#include <cstdint>
{%- if 'remote_attributes' in instance %}
    {%- for attr in instance.remote_attributes %}
        {%- if 'remote_attributes' in object %}
#include <{{attr.name}}.hpp>
        {%- endif %}
    {%- endfor %}
{%- endif %}

class {{ instance.name }}
{
    public:

    {%- if 'remote_attributes' in instance %}
        {%- for object in instance.remote_attributes %}
            {%- if 'remote_attributes' in object %}
        {{object.name}} {{object.name}};
            {%- else %}
            
        {{object.type}} get_{{object.name}}(void);
        void set_{{object.name}}({{object.type}} value);
            {%- endif %}
        {%- endfor %}
    {%- endif %}

}